{% extends 'base.html' %}
{% block content %}
<div style="margin-left: 10%; margin-right: 10%">
    <h2 style="margin-left: 10%">Autonomous</h2>
    <br>
    <div style = "margin-left: 10%; display: inline-block;">
	<div class="btn-group" role="group" aria-label="Basic example">
	    <button type="button" onclick = "check_auto();" id = "4" class="btn btn-secondary">Yes</button>
	    <button type="button" onclick = "check_auto();" id = "6" class="btn btn-secondary">No</button>
	</div>
    <br>
    <br>
    <button onclick="submit();" class="btn btn-primary btn-lg" name="balls_shot" style="margin-left: 10%; display: inline-block;">Submit Session</button> <h2 id="counting4" style="float: right; margin-right: 50%;"></h2>
    <script>
        //initialising a variable name data
        var auto = false;

        function check_auto(){
            auto = !auto;
        }

        function submit(){
            var team_data = {
                'auto': auto
            }

            fetch("/analytics_gateway",
                {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'}, 
                    body: JSON.stringify(team_data)}).then(res => {console.log("Request complete! response:", res);
                }
            );
            // $.ajax({
            // url: Flask.url_for('/observing'),
            // type: 'POST',
            // data: JSON.stringify(team_data),   // converts js value to JSON string
            // })
            // .done(function(result){     // on success get the return object from server
            //     console.log(result)     // do whatever with it. In this case see it in console
            // })
        }
    </script>
</div>
{% endblock %}